# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
yarn.lock
package-lock.json
pnpm-lock.yaml

# Testing
/coverage
*.test.ts.snap
.jest-cache/

# Next.js
/.next/
/out/
/build
.next/cache

# Production
/build
/dist

# Misc
.DS_Store
*.pem
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Local env files - IMPORTANTE: No subir credenciales
.env
.env*.local
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Vercel
.vercel
.vercel.json

# Typescript
*.tsbuildinfo
next-env.d.ts

# Prisma
prisma/*.db
prisma/*.db-journal
prisma/migrations/*_migration.sql.tmp
*.db
*.db-shm
*.db-wal

# PWA
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.temp